@media all and (min-width: 480px) {
  .Login { 
    background-image: "./puplic/assets/layout/images/hashkingsbanner.png";
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

}